* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  height: 60px;
  background: #383838;
  color: white;
  display: flex;
  flex-direction: row;
}

.link {
  height: 100%;
  width: 100px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightblue;
}

.main {
  height: 1200px;
  margin: 20px 20px;
}

.article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: inherit;
    /* flex: 10; */
}

img {
  background: gray;
  /* width: 25%; */
  height: 250px;
}

p {
  font-family: arial, serif;
  font-size: 15px;
  width: 50%;
  padding-right: 20px;
}

.heading {
  font-family: arial, serif;
  font-size: 30px;
}

footer {
  background: black;
  height: 60px;
}
